{% load static %}
<html>
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'charger/style.css' %}">
        {% block head_misc %}{% endblock %}
    </head>
    <body>
        <div id="page-title">
            {% block page_title %}{% endblock %}
        </div>

        <div id="page-content">
        	{% block page_content %}{% endblock %}
        </div>
    </body>
    <footer>
    	{%block page_footer %}{% endblock %}
    </footer>
</html>