body {
	background-color: hsl(0, 0%, 20%);
}

#react-id {
	margin: auto;
	background-color: hsl(0, 0%, 90%);
	width: fit-content;
	margin-top: 3rem;
	box-shadow: 4px 4px 4px hsl(0, 0%, 10%);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

#live-data-valid {
	text-align: center;
	font-size: 1.2rem;
	text-shadow: 0px 0px 10px hsl(0, 0%, 20%);
}

.valid-data {
	color: green;
}
.invalid-data {
	color: red;
}

.main-buttons {
	display: block;
	margin: auto;
	font-size: 1.2rem;
	text-shadow: 0px 0px 10px hsl(0, 0%, 40%);
	color: black;
	background: none;
	border: 2px dashed hsl(0, 0%, 50%);
	border-radius: 5px;
	outline: none;
}

.outage-data {
	border: 2px solid red;
	border-radius: 5px;
	padding: 0.25rem;
	text-align: center;
}