{% extends 'charger/base-react.html' %}
{% block page_script %}
<script type="text/babel">

class MainMonitor extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      showLiveData: true,
    };
  }
  render() {
    return (
      <div>
        <LiveDataMain />
      </div>
      )
  }
}

class LiveDataMain extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInitialized: false,
      isLastDataValid: false,
      lastDataCollected: []
    };
    this.refreshData = this.refreshData.bind(this);
  }
  componentDidMount() {
    this.refreshData();
    this.refreshInterval = setInterval(this.refreshData, 5000)
  }
  componentWillUnmount() {
    clearInterval(this.refreshInterval);
  }
  async refreshData() {
    try {
      const response = await fetch('last-data');
      const json = await response.json();
      this.setState({isInitialized: true, isLastDataValid: true, lastDataCollected: json});
    } catch (error) {
      this.setState({isLastDataValid: false});
      console.log(error);
    }
  }

  render() {
    console.log(this.state.lastDataCollected);
    return (
      <div id="live-monitor">
        <div id="live-data-valid"> {this.state.isLastDataValid ? "Data Valid" : "Data Error"} </div>
        {(this.state.isInitialized) ? (<LiveDataDisplay collectedData={this.state.lastDataCollected}/>) : (<div>Not Initialized</div>)}
      </div>
      )
  }
}

class LiveDataDisplay extends React.Component {
  constructor(props) {
    super(props);
  }
  render() {
    const session_info = this.props.collectedData.all_chargers_data.map((obj) => {
        console.log(obj);
        return (
          <div id="live-data-info">
            <div class="charger-data">Charger ID: {obj.charger_id}</div>
            <div class="charger-data">Session: {obj.last_session_id}</div>
            <div class="charger-data">Milliamps-hour: {obj.last_session_mah}</div>
            <div class="measurement-data">Timestamp: {obj.last_measurement.timestamp}</div>
            <div class="measurement-data">Emergency: {obj.last_measurement.emergency}</div>
            <div class="measurement-data">Voltage: {obj.last_measurement.voltage}</div>
            <div class="measurement-data">Current: {obj.last_measurement.current}</div>
            <div class="measurement-data">mAs: {obj.last_measurement.mas}</div>
          </div>
          );
      })
    console.log(this.props.collectedData);
    return (
      <div id="live-data-display">
        {session_info}
      </div>
      )
  }
}

console.clear();
ReactDOM.render(<MainMonitor />, document.getElementById("react-id")); 
</script>
{% endblock %}